<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>
<body>
    <h1>To-Do List</h1>

    <form action="/add" method="post">
        <input type="text" name="data" placeholder="New task" required>
        <button type="submit">Add</button>
    </form>

    <ul>
        {% for task in tasks %}
            <li>
                <span style="text-decoration: {{ 'line-through' if task['completed'] else 'none' }};">
                    {{ task['items'] }}
                </span>
                    {% if not task['completed'] %}
                <a href="{{ url_for('complete_task', task_id=task['id']) }}">Complete</a>
            {% endif %}
            <a href="{{ url_for('delete_task', task_id=task['id']) }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>